<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_http._tcp</string>
		<string>_https._tcp</string>
		<string>_ssh._tcp</string>
		<string>_smb._tcp</string>
		<string>_afpovertcp._tcp</string>
		<string>_device-info._tcp</string>
		<string>_airplay._tcp</string>
		<string>_raop._tcp</string>
		<string>_ipp._tcp</string>
		<string>_printer._tcp</string>
		<string>_googlecast._tcp</string>
		<string>_hap._tcp</string>
		<string>_ftp._tcp</string>
		<string>_workstation._tcp</string>
		<string>_rfb._tcp</string>
		<string>_services._dns-sd._udp</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>This app discovers devices on your local network for network scanning.</string>
</dict>
</plist>
